.menu {
    .navbar {
        background-color: transparent;
    }
    .navbar-light .navbar-nav .nav-link {
        font-weight: 700;
        font-size: 16px;
        color: $main-2;
    }
    .navbar-light .navbar-nav .show>.nav-link,
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .nav-link.active {
        background-color: $main-2;
        border-bottom: 2px solid $main-2;
        color: #fff;
    }
    .dropdown-item {
        font-weight: 700;
        font-size: 18px;
        color: $main-2;
        &:hover {
            background-color: transparent;
        }
    }
}

section {
    width: 100%;
    min-height: 70vh;
}

.section1 {
    background: url('../img/section1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .logo {
        margin-top: 20vh;
        color: $main-2;
        h1 {
            font-family: 'Merriweather', serif;
            font-size: 9vh;
            margin-top: 20px;
        }
        h2 {
            font-size: 6vh;
        }
    }
}

.index {
    .section2 {
        background-color: #fff;
        .img {
            min-height: 100vh;
            padding-top: 10vh;
        }
        .content {
            padding-top: 20vh;
            position: relative;
            h3 {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: 125px;
                font-weight: 500;
                font-size: 20px;
                text-transform: uppercase;
                a {
                    color: white;
                    padding: 10px 20px;
                    text-decoration: none;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                    background-color: $main;
                    border: 2px solid $main;
                    i {
                        font-size: 26px;
                    }
                }
            }
            p {
                font-size: 18px;
                border: 1px solid rgba(44, 62, 80, 0.2);
                padding: 60px 20px 20px 20px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }
        }
        .nav-pills {
            .nav-link {
                font-weight: 500;
                font-size: 18px;
                text-transform: uppercase;
                border-radius: 50px;
                margin: 25px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                border: 2px solid $main-2;
                color: $main-2;
                &.green.active {
                    background-color: #e67e22;
                    border-color: #e67e22;
                    color: white;
                }
                &.red.active {
                    background-color: $accent;
                    border-color: $accent;
                    color: white;
                }
                &.yellow.active {
                    background-color: $amber;
                    border-color: $amber;
                    color: white;
                }
                i {
                    font-size: 24px;
                }
            }
        }
    }
}

.resolve,
.tech {
    section {
        width: 100%;
        min-height: 90vh;
    }
    .section1 {
        .logo {
            color: $main-2;
            h1 {
                font-family: 'Times New Roman', Times, serif;
                font-weight: 900;
                font-size: 50px;
            }
            h2 {
                font-size: 4vh;
                text-transform: uppercase;
            }
        }
    }
    .section2 {
        margin-top: -290px;
        margin-bottom: 100px;
        background-color: #fff;
        .row {
            margin-top: 70px;
        }
        .content {
            margin-top: 50px;
            a {
                h3 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 40px;
                    color: $main-2;
                    text-transform: uppercase;
                    margin-bottom: 40px;
                }
                p {
                    color: #333;
                    font-size: 22px;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.contact {
    section {
        width: 100%;
        min-height: 90vh;
    }
    .section1 {
        .logo {
            color: $main-2;
            h1 {
                font-family: 'Times New Roman', Times, serif;
                font-weight: 900;
            }
            h2 {
                font-size: 4vh;
                text-transform: uppercase;
            }
        }
    }
    .section2 {
        margin-top: -150px;
        h4 {
            text-transform: uppercase;
            font-weight: 700;
            color: $main-2;
            margin-bottom: 40px;
        }
        label {
            text-transform: uppercase;
        }
        #map {
            margin-top: 50px;
            height: 90vh;
            margin-bottom: 30px;
        }
        .info {
            font-weight: 500;
            color: #333;
        }
    }
    font-size: 18px;
}

button.btn-info-custom,
a.btn-info-custom {
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-color: $accent;
    color: white;
    font-weight: 700;
    padding: 5px 25px;
    font-size: 16px;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
        color: white;
    }
    &.gray {
        background-color: $main;
    }
}

button.btn-see-more,
a.btn-see-more {
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-color: $main;
    color: white;
    font-weight: 700;
    padding: 5px 15px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    &:hover {
        text-decoration: none;
        color: white;
    }
    &.main {
        background-color: $main;
    }
}

.footer {
    background: url('../img/footer.jpg') no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 405px;
    color: white;
    font-size: 16px;
    .column {
        margin-top: 100px;
        h4 {
            text-transform: uppercase;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
    .copyright {
        background-color: $main;
        p {
            padding-top: 10px;
        }
    }
}
