// Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&subset=latin-ext');
// Variables
@import '_variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'responsive';
@import 'custom';
